@tailwind base;
@tailwind components;
@tailwind utilities; 

.main1{
  display: flex;
  justify-content: center;
  /* align-items: center; */
 height: 200px;
}
.ca{
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px 10px;
  box-shadow: 1px 1px 10px 1px  black;
  margin: 5px;
  /* background-color: 0 0 0 0; */
  /* background-color: green; */

}
.cah1{
  height: 250px;
  text-align: center;
  overflow: hidden;

}
.forbtns{
  display:flex;
  justify-content:space-evenly;
}

li{
  list-style-type: none;
  margin-top: 11px;
  /* text-shadow: 1.3px 1.3px  rgb(124, 114, 114); */
  /* hello i am mahesh */
}
ul{
  display: flex;
  justify-content: space-evenly;
 /* padding-top: 5px; */
}
