@tailwind base;
@tailwind components;
@tailwind utilities; 

body{
  background-image: linear-gradient(to bottom right, rgb(135, 215, 216), rgb(177, 133, 165));
  /* background-repeat: no-repeat; */
  background-image: url(https://cdn.wallpapersafari.com/7/95/qauZty.jpg);
}
.main1{
  display: flex;
  justify-content: center;
  /* align-items: center; */
 height: 650px;
}
li{
  list-style-type: none;
  margin-top: 11px;
  /* text-shadow: 1.3px 1.3px  rgb(124, 114, 114); */
}
ul{
  display: flex;
  justify-content: space-evenly;
 /* padding-top: 5px; */
}
.text-light{
  cursor: pointer;
}
.head1{
  display: flex;
}
h1{
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .container{
  border: 2px solid red;
} */
.hover-word{
  color: rgb(231, 241, 34);
  font-size: 24px;
  font-weight: bold;
}
.hover-word h1:hover{
  font-size: 30px;
  transition: font-size 0.2s;
  cursor: pointer;
  color: azure;
}
